<% if @topics.empty? %>
	<div class="post-list__topic">
		<h3 class="post-list__title">
			Search Results
		</h3>

		<p>No matching topics for <strong><%= @query %></strong>.</p>
	</div>
<% else %>
	<%= render partial: "topic_listing", collection: @topics, as: :topic %>

	<%= will_paginate @topics, :params => { query: @query }, :previous_label => "Previous", :next_label => "Next", :inner_window => 2 %>
<% end %>
