<% if @topics.empty? %>
	<div class="post-list__topic">
		<h3 class="post-list__title">
			Search Results
		</h3>

		<p>No matching topics.</p>
	</div>
<% else %>
	<%= render partial: "topic_listing", collection: @topics, as: :topic %>
<% end %>
