<div class="post-list__topic">
  <h3 class="post-list__title">
    <%= link_to topic.title, topic %>
  </h3>

  <strong><%= topic.posts.length %> posts</strong>, last posted <%= nice_date(topic.posts.last.created_at) %>
  by <%= link_to topic.posts.last.user.name, topic_path(topic, :anchor => topic.posts.last.id) %>
</div>
