/* Globals */

body {
  background: white url('/images/dustbg.jpg') fixed 0 50%;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
}

#container {
  margin: 30px auto 30px;
  width: 840px;
  word-wrap: break-word;
}

#inner {
  float: left;
  width: 760px;
  background-color: white;
  padding: 20px 40px 30px;;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -border-radius: 10px;
  position: relative;
}

h1 { 
	font-family: 'Vollkorn', Georgia, serif;
	font-size: 25px; 
	display: inline;
	margin: 0;
}

h2 { 
	font-family: 'Vollkorn', Georgia, serif; 
	font-size: 30px; 
	margin: 0;
	line-height: 30px;
}

h3 {
	font-family: 'Vollkorn', Georgia, serif; 
	font-size: 25px;
	line-height: 28px;
	margin: 0 0 3px;
}

a img {
  border: none;
}

a {
  color: crimson;
  text-decoration: none;
}

blockquote {
	background: #eee;
	margin: 1em 20px;
	padding: 5px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
}

.meta {
	font-size: small;
	color: gray;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.last {
	margin-right: 0 !important;
	padding-right: 0 !important;
	border-right: none !important;
}

.last:after {
	content: "" !important;
}

.pagination {
	margin: 1em auto 0;
	text-align: center;
}

.permalink {
	color: grey;
}

.permalink:hover {
	text-decoration: underline;
}

.narrow-content {
	width: 370px;
	margin: 0 auto;
}

/* Header */

#header {
	text-align: center;
	position: relative;
	width: 680px;
	margin: 20px auto 40px;
}

#nav {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 680px;
}

#nav a { color: black; }

#nav h1 { 
	padding-right: 8px;
	margin-right: 8px;
	border-right: solid 1px gray;
}

/* Chunky Form */

form.chunky-form { margin: 15px 0 0; }

.chunky-form input[type="text"], .chunky-form input[type="password"] {
	width: 350px;
	padding: 10px;
	font-size: 20px;
	border: solid 1px silver;
	margin-bottom: 1em;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
}

.chunky-form input[type="checkbox"] {
	padding: 0;
	margin: 0 5px 0 0;
}

.chunky-form input[type="submit"] {
	margin-top: .5em;
	margin-bottom: 1em;
}

.chunky-form label { 
	display: block;
	margin-bottom: 5px;
	font-weight: normal;
}

.chunky-form .checkbox-line {
	margin-bottom: 1em;
}

.chunky-form .checkbox-line label { 
	display: inline;
	vertical-align: middle;
}

.chunky-form .button {
	width: 175px;
	font-size: 15px;
	padding: 10px;
	border: solid 1px silver;
	display: block;
	background: #eee;
	cursor: pointer;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
}

.chunky-form .button:active {
	background: silver;
}

/* Flash */

#flash_notice, #flash_error {
	text-align: left;
	font-size: 12px;
	line-height: 12px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 8px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -border-top-left-radius: 10px;
}

#flash_notice {
  background-color: #CFC;
}

#flash_error {
  background-color: #FCC;
}

/* Userbar */

#userbar {
	text-align: right;
	font-size: 12px;
	line-height: 12px;
	position: absolute;
	top: 0;
	right: 0;
	color: gray;
	background: #eee;
	padding: 5px 8px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -border-top-right-radius: 10px;
}

#userbar img {
	height: 12px;
	width: 12px;
	vertical-align: middle;
}

#userbar a {
	color: gray;
	text-decoration: underline;
}

#userbar a.logout-link {
	text-decoration: none;
	font-size: 10px;
}

/* Subnav */

#subnav {
	margin-bottom: 1.5em;
	padding-bottom: 10px;
	font-weight: bold;
	border-bottom: 2px solid silver;
	overflow: hidden;
}

#subnav a { color: black; }

#subnav span {
	display: block;
	float: left;
	margin-right: 5px;
	color: gray;
	line-height: 25px;
}

#subnav span:after {
	content: "\0020 \2022";
}

#subnav .search {
	float: right;
	padding: 0;
	margin: 0;
}

#subnav form {
	margin: 0;
	display: inline;
}

#subnav .search label {
	display: block;
	float: left;
	margin: 0 5px 0 0;
	font-weight: bold;
	line-height: 25px;
}

#subnav .search input {
	padding: 3px;
	margin: 0;
	width: 150px;
	border: solid 1px silver;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-border-radius: 0;
	font-size: 14px;
}

#subnav .search:after {
	content: "" !important;
}

/* Home */

#home {
	float: left;
	width: 100%;
}

#home .left {
	float: left;
	width: 500px;
}

#home .right {
	float: right;
	width: 240px;
}

#home .right .title {
	margin-top: 4em;
	margin-bottom: 1em;
	font-weight: bold;
	border-bottom: 2px solid silver;
	padding-bottom: 5px;
	overflow: hidden;
}

#home .right #top { margin-top: 0; }

#home .right .meta-line {
	line-height: 15px;
	vertical-align: bottom;
}

#home .right .meta {
	vertical-align: bottom;
}

#home .right ul {
	margin: 0;
	padding-left: 20px;
}

#home .right .avatar {
	height: 15px;
	width: 15px;
	vertical-align: middle;
}

.tiny-avatar {
	height: 30px;
	width: 30px;
}

#home .right .meta a {
	color: gray;
	text-decoration: none;
	vertical-align: bottom;
}

#home .right .meta a:hover {
	text-decoration: underline;
}

.blog-video {
	width: 500px;
	text-align: center;
}

.facebook-button {
	background-image: url('http://developers.facebook.com/images/devsite/login-button.png');
	width: 154px;
	height: 22px;
	border: none;
	background-color: none;
	cursor: pointer;
	display: inline;
}

#signup form { display: inline; margin: 0; padding: 0;}

#signup form input {
	margin: 0;
	padding: 0;
}

/* #home { width: 100%; text-align: center; } */

/* Shows */

#shows-container {
	width: 600px;
	margin: 0 auto;
}

.show-nav {
	width: 470px;
	float: right;
}

.show {
	width: 100%;
	float: left;
}

.left h3 {
	line-height: 30px;
}

.show .right {
	float: right;
	width: 470px;
	margin-bottom: 1.5em; 
	padding-bottom: 1.5em;
}

.show .right h3 {
	display: inline;
	margin-right: 8px;
}

.show .city {
	display: block;
	font-weight: bold;
}

.showmeta {
	display: block;
	color: gray;
	font-size: small;
}

/* Show Archive */

.year {
	width: 90px;
	margin: 0 15px 0 0;
	float: left;
	text-align: right;
}

.currentyear {
	margin-top: 20px;
}

.months {
	margin-bottom: 20px;
}

.months strong {
	display: block;
}

.archive-page .city {
	display: inline;
}

.archive-page .yellow {
	line-height: 28px;
	vertical-align: top;
}

.tracklist {
	margin-bottom: 1em;
}

/* Single Show */

.show-post {
	margin: 1em 0;
	background-color: #eee;
	padding: 1em;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
}

.show-post img {
	vertical-align: middle;
}

.show-post a, .show-post span {
	display: inline !important;
}

.show-post p {
	margin-bottom: 0;
}

.setlist {
	margin: 2em 0;
}

.show span, .show a, .show h3 {
	margin-bottom: 3px;
}

.show .left {
	width: 90px;
	margin: 0 15px 0 0;
	float: left;
	text-align: right;
}

.show textarea { width: 466px; height: 50px; }

.show form { margin-top: 1em; }

.show .chunky-form label { font-weight: bold; }

.show .avatar {
	height: 30px;
	width: 30px;
}

.show .setlist {
	border: solid 1px #ffff8b;
	background-color: #ffffdb;
}

.show .setlist .title {
	background-color: #ffff8b;
	padding: 10px;
	font-weight: bold;
}

.show .setlist .title a {
	float: right;
}

.show .setlist #tracks ol {
	margin: 20px 10px 10px;
}

.show .setlist #tracks li {
	height: 30px;
	line-height: 22px;
	margin: 2px;
}

.show .setlist #tracks input[type="text"] {
	width: 256px;
}

.show .setlist #tracks select {
	width: 260px;
	height: 22px;
	overflow: hidden;
	background: #ffff8b;
	border: solid 1px #ffff8b;
	font-family: Verdana, Helvetica, Arial;
	font-size: 14px;
	margin: 0;
}

.show .setlist #tracks a, .handle {
	background: #ffff8b;
	padding: 0 5px;
	display: block;
	float: right;
	width: 50px;
	height: 22px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	margin-right: 8px;
	color: #444;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
}

.show .setlist #tracks a:hover, .handle:hover {
	background-color: yellow;
}

.handle {
	cursor: move;
}

.show .setlist #tracks input[type="submit"] {
	width: 430px;
	background: #ffff8b;
	border: solid 1px #ffff8b;
	margin: 5px 20px 20px;
	font-size: 15px;
	padding: 10px;
	cursor: pointer;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
	border-color: silver;
}

.show .setlist #tracks input[type="submit"]:active {
	background-color: yellow;	
}

/* Records */

.record {
	float: left;
	width: 240px;
	margin: 0 20px 20px 0;
}

.record a {
	font-family: 'Vollkorn', Georgia, serif;
	font-size: 20px;
	font-weight: bold;
}

.record em {
	display: block;
	font-style: normal;
	font-weight: bold;
	color: gray;
	font-size: small;
}

.record-show {
	float: left;
	width: 100%;
}

.record-show .left {
	float: left;
	width: 400px;
	margin: 0 20px 20px 0;
}

.record-show .right {
	float: left;
	width: 340px;
}

.record-show h2 {
	margin-bottom: 5px;
}

.record-show .recordmeta {
	color: gray;
	font-size: small;
}

.record-show .description {
	display: block;
	margin: 1em 0;
}

.buy-buttons {
	display: block;
	margin-top: 8px;
}

/* Forum */

#forum {
	width: 600px;
	margin: 0 auto;
}

#forum .topic_teaser {
	margin-bottom: 2em;
}

#forum .topictop {
	display: block;
}

#forum .topicmeta {
	display: block;
	font-size: small;
	color: gray;
}

#forum em {
	font-style: normal;
}

#new-topic {
	border-top: solid 1px silver;
	padding-top: 30px;
	margin-top: 30px;
}

/* Topic */

.topic .subject {
	text-align: center;
}

.topic .post:last-child {
	border-bottom: none;
}

form#new_topic, #post-form form {  /* forum index */
	width: 600px;
	margin: 10px auto 0;
}

form#new_topic textarea, #post-form form textarea { 
	width: 580px; 
	padding: 10px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	-border-radius: 5px; 
	border: solid 1px silver; 
}

/* Post */

.post {
	margin: 2em 0; 
	padding: 0 0 1em 0; 
	border-bottom: 1px solid silver;
	width: 100%;
	float: left;
}

.postmeta {
	color: gray;
	font-size: small;
	line-height: 25px;
}

.postmeta a {
	color: inherit;
}

.postleft {
	width: 115px;
	margin: 0 1em 1em 0;
	float: left;
	text-align: center;
}

.postleft .avatar {
	max-width: 115px;
	max-height: 115px;
}

.posttop {
	display: block;
	margin-bottom: 1em;
}

.postright {
	width: 610px;
	float: right;
}

.topic textarea {
	width: 740px; 
	padding: 10px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	-border-radius: 5px; 
	border: solid 1px silver; 
}

.topic form {
	margin-top: 15px;
}

/* User */

.userleft {
	width: 115px;
	height: 115px;
	margin: 0 1em 1em 0;
	float: left;
	text-align: center;
}

.userleft .avatar {
	max-width: 115px;
	max-height: 115px;
}

.userright {
	width: 610px;
	float: right;
}

.profile-link {
	color: black;
	text-decoration: underline;
}

.yellow {
	background: yellow;
	font-size: smaller;
	padding: 3px;
	font-weight: bold;
}

#avatar-upload {
	position: relative;
	height: 115px;
	width: 100%;
	margin-bottom: 1em;
}

#avatar-upload img {
	position: absolute;
	left: 0;
	top: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
}

#avatar-upload #avatar-fields {
	position: absolute;
	top: 0;
	left: 125px;
}

#avatar-upload input {
	font-size: 14px;
	padding: 0;
	width: 225px;
}

input#user_avatar { border: none; }

#optional-fields {
	background: silver;
	padding: 10px;
	width: 350px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
	margin-bottom: 1em;
}

#optional-fields input, #optional-fields textarea {
	width: 325px;
}

#optional-fields textarea { height: 100px; }

#signup a {
	font-weight: bold;
	margin-right: 10px;
	display: block;
	float: left;
	line-height: 22px;
	border: solid 1px silver;
	padding: 0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
}

/* Errors */

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #eee;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  padding: 0 15px;
}

#errorExplanation ul {
  margin: 1em 24px;
}

#errorExplanation ul li {
  list-style: disc;
}
