body {
  background: tan url('/images/dustbg.jpg') fixed 0 50%;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
}

#container {
  margin: 0 auto;
  width: 760px;
  word-wrap: break-word;
}

#inner {
  float: left;
  width: 760px;
  background-color: white;
  padding: 20px 40px;
  -webkit-border-radius: 10px;
}

h1 { 
	font-family: 'Vollkorn', Georgia, serif;
	font-size: 20px; 
	display: inline;
	margin: 0;
}

h2 { 
	font-family: 'Vollkorn', Georgia, serif; 
	font-size: 30px; 
	margin: 0;
	line-height: 30px;
}

h3 {
	font-family: 'Vollkorn', Georgia, serif; 
	font-size: 25px;
	margin: 0 0 3px;
}

a img {
  border: none;
}

a {
  color: crimson;
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#header {
	text-align: center;
	position: relative;
	width: 680px;
	margin: 20px auto 40px;
}

#nav {
	position: absolute;
	bottom: 0;
	width: 680px;
}

.pagination {
	margin: 1em auto;
	text-align: center;
}

textarea { width: 740px; padding: 10px }
label { font-size: 10px; font-weight: bold; }

/* Home */

#home {
	float: left;
	width: 100%;
}

#home .left {
	float: left;
	width: 500px;
}

#home .right {
	float: right;
	width: 240px;
}

/* Shows */

#shows {
	width: 600px;
	margin: 0 auto;
}

#archive-nav {
	float: right;
	width: 470px;
	margin-bottom: 1.5em;
	font-weight: bold;
	border-bottom: 2px solid silver;
	padding-bottom: 10px;
}

#archive-nav a {
	color: gray;
}

.show {
	margin-bottom: 1.5em; 
	padding-bottom: 1.5em; 
	width: 100%;
	float: left;
}

.show span, .show a, .show h3 {
	margin-bottom: 3px;
}

.show .left {
	width: 90px;
	margin: 0 15px 0 0;
	float: left;
	text-align: right;
}

.left h3 {
	line-height: 30px;
}

.show .right {
	float: right;
	width: 470px;
}

.show .city {
	display: block;
	font-weight: bold;
}

.showmeta {
	display: block;
	color: gray;
	font-size: small;
}

.ticket-button {
	color: black;
}

.show .btn {
	margin-top: 5px;
}

/* Show Archive */

.year {
	width: 90px;
	margin: 0 15px 0 0;
	float: left;
	text-align: right;
}

.currentyear {
	margin-top: 20px;
}

.months {
	margin-bottom: 20px;
}

.months strong {
	display: block;
}

.archive-page .city {
	display: inline;
}

.archive-page .right {
	margin-bottom: 1.5em; 
	padding-bottom: 1.5em;
}

/* Records */

.record {
	float: left;
	width: 240px;
	margin: 0 20px 20px 0;
}

.last {
	margin: 0 !important;
}

.record a {
	font-family: 'Vollkorn', Georgia, serif;
	font-size: 20px;
	font-weight: bold;
}

.record em {
	display: block;
	font-style: normal;
	font-weight: bold;
	color: gray;
	font-size: small;
}

.record-show {
	float: left;
	width: 100%;
}

.record-show .left {
	float: left;
	width: 400px;
	margin: 0 20px 20px 0;
}

.record-show .right {
	float: left;
	width: 340px;
}

.record-show h2 {
	margin-bottom: 5px;
}

.record-show .recordmeta {
	color: gray;
	font-size: small;
}

.record-show .description {
	display: block;
	margin: 1em 0;
}

.buy-buttons {
	display: block;
	margin-top: 8px;
}

/* Forum */

#forum {
	width: 600px;
	margin: 0 auto;
}

#forum .topic_teaser {
	margin-bottom: 2em;
}

#forum .topictop {
	display: block;
}

#forum .topicmeta {
	display: block;
	font-size: small;
	color: gray;
}

#forum em {
	font-style: normal;
}

/* Topic */

.topic .subject {
	text-align: center;
}

.topic .post:last-child {
	border-bottom: none;
}

/* Post */

.post {
	margin: 1em 0; 
	padding: 1em 0; 
	border-bottom: 1px solid silver;
	width: 100%;
	float: left;
}

.postmeta {
	color: gray;
	font-size: small;
	line-height: 25px;
}

.postmeta a {
	color: inherit;
}

.postleft {
	width: 115px;
	height: 115px;
	margin: 0 1em 1em 0;
	float: left;
	text-align: center;
}

.posttop {
	display: block;
	margin-bottom: 1em;
}

.postright {
	width: 610px;
	float: right;
}

/* User */

.userleft {
	width: 115px;
	height: 115px;
	margin: 0 1em 1em 0;
	float: left;
	text-align: center;
}

.userright {
	width: 610px;
	float: right;
}

.first {
	background: yellow;
	font-size: smaller;
	padding: 3px;
	font-weight: bold;
}

/* Buttons 3.0 */

.btn {
  display:inline-block;
  background:none;
  margin:0;
  padding:3px 0;
  border-width:0;
  overflow:visible;
  font:100%/1.2 Arial,Sans-serif;
  text-decoration:none;
  color:#333;
  }
  
* html button.btn {
  padding-bottom:1px;
  }
  
.btn span {
  background:#ddd url(/images/bg-button.gif) repeat-x 0 0;
  margin:0;
  padding:3px 0;
  border-left:1px solid #bbb;
  border-right:1px solid #aaa;
  }
  
* html .btn span {
  padding-top:0;
  }
  
.btn span span {
  position:relative;
  padding:3px .4em;
  border-width:0;
  border-top:1px solid #bbb;
  border-bottom:1px solid #aaa;
  }
  
/* only needed if implementing separate hover/focus/active state for buttons */
.btn:hover span, .btn:hover span span, .btn:focus span, .btn:focus span span {
  cursor:pointer; /* important for any clickable/pressable element */
  border-color:black !important;
  color:#000;
  }
.btn:active span {
  background-position:0 -400px;
  outline:none;
  }
.btn:focus, .btn:active {
  outline:none; /* doesn't seem to be respected for <button>, only <a> */
  }

/* Default Stuff */

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px auto;
  display: block;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
