<% title 'Contact & Press Info' %>

<h1>Contact & Press Info</h1>

<h2>Contacts</h2>

<dl>
  <div class="contact">
    <dt>Management</dt>
    <dd><a href="mailto:management@blitzentrapper.net">Brady Brock</a></dd>
  </div>
  <div class="contact">
    <dt>Legal</dt>
    <dd>Gillian Bar, Esq.</dd>
  </div>
  <div class="contact">
    <dt>US Booking</dt>
    <dd><a href="mailto:lori@concertedefforts.com">Lori Peters, Concerted Efforts</a>&nbsp617-969-0810</dd>
  </div>
  <div class="contact">
    <dt>Canada Booking</dt>
    <dd><a href="mailto:himmelfarb@feldman-agency.com">Steven Himmelfarb, Feldman Agency</a></dd>
  </div>
  <div class="contact">
    <dt>ROW Booking</dt>
    <dd><a href="mailto:steven@toutpartout.be">Steven Thomassen, Toutpartout</a></dd>
  </div>
  <div class="contact">
    <dt>Radio Promotion</dt>
    <dd><a href="mailto:michael.plen@ingrooves.com">Michael Plen, INgrooves</a></dd>
  </div>
  <div class="contact">
    <dt>Webmaster</dt>
    <dd><a href="https://twitter.com/TRMW">Matt Wright</a> - <a href="https://github.com/TRMW/blitzentrapper">GitHub project</a></dd>
  </div>
</dl>

<h2>High Resolution Press Images</h2>

<%= link_to image_tag('http://files.blitzentrapper.net/press/Blitzen%20Trapper.jpg', :width => 360), 'http://files.blitzentrapper.net/press/Blitzen%20Trapper.jpg' %>

<h2>Bio</h2>

<p>It was on September 23, 2008 that Blitzen Trapper, after putting out three albums on its own label, released its fourth full-length album, <em>Furr</em>, via Sub Pop. At that time, it was a record that captured exactly where the band’s frontman, Eric Earley, found himself, both literally and metaphorically, geographically and existentially. Not that the Portland-based musician actually remembers much about the creation of the record’s 13 intriguing, spellbinding songs. Or, more specifically, what its songs actually mean, either now or then. Instead, <em>Furr</em>, stands as a kind of tribute and elegy to the city that inspired it, but that, a decade later, no longer exists.</p>

<p>“What I was trying to do with those recordings,” explains Earley, “was capture this kind of atmosphere that I was feeling and which pervaded the city at that time. I think I was attempting to capture what Portland was at the time and what it felt like to me. That city is gone now. Old Portland, we call it, but Old Portland has disappeared. But this record gives me the feeling of those times and this city— when it was poor and dumpy and really drug-addled. And it also captures the magic of the outlying rural areas that has slowly changed as well.”</p>

<p>That magic can be heard in each of these songs, and while the city may have vanished from sight – replaced by a newer, richer, shinier and bigger version of itself – its elegance and fractured beauty is preserved within the bones of this record. These songs exist as vivid snapshots of that time, ones that recall the city as it was. At the same time – and while Earley insists he was only trying to capture what Portland was at the time – there’s a mythology within the lyrics and the music, an imagined, semi-fictional vision of Portland and the Pacific Northwest, a kind of parallel universe to the one that actually exists.</p>

<p>“Back then, the city was this really weird place,” says Earley. “It was really bizarre. Weird stuff would happen. And it was much poorer and much smaller. It wasn’t as structured and rich as it is now. It was a totally different place. That’s why it’s funny when people talk about Portland – I’m like well, if you didn’t live here back then you’ll never experience what that was like but if you listen to this record you’ll get a little taste of it. So in that sense, it feels very real and non-mythical to me.”</p>

<p>That said, that doesn’t mean these songs are all based in reality. There are glimpses of God – and of American Christianity – throughout them, not least in the mournful folk narrative of “Black River Killer” and “God & Suicide.” The former is a made-up tale about an anonymous murderer on a killing spree which Earley cites as being about “the mindless violence that Americans consume every single day – in film and books and everything – and what does it mean for us to consume that content and make it a part of us?” The latter is a shimmering, more upbeat track that’s an attempt to commit to tape an ineffable feeling that Earley felt within him but which, after all these years, he’s still unable to pinpoint exactly.</p>

<p>“I can’t tell you what that song’s about,” he says. “I know what it feels like, but I don’t know what it actually literally means. But the words and the music gave me this feeling as I was writing it that made sense at the time. I feel like there’s a feeling of longing that accompanies this record somehow, and there’s this weird longing to be set free. I feel that’s what kind of pervades this record – a melancholic longing for something that we can’t obtain. In “God & Suicide” it’s almost like—and it’s me obviously—but it’s almost like whoever is saying those words is saying to himself ‘Well I’ve got two choices. Either I kill myself or I somehow make my peace with whatever God is.”</p>

<p>Not all the songs have such existential explanations. The soft acoustic jangle of the title track is full of wistful longing, while the plaintive, poignant piano of “Not Your Lover” is a forlorn love – or loss of love – song full of tender sadness. That’s one of a few songs that wouldn’t actually exist had the band—completed at the time by Brian Adrian Koch (drums, vocals), Michael Van Pelt (bass), Erik Menteer (guitar, Moog), Drew Laughery (keyboards) and Marty Marquis (guitar, vocals, melodica)—not found an old warped piano in the hallway of Sally Mack’s School Of Dance, the Portland building which housed the band’s studio. Needless to say, the discovery definitely helped shape the direction of the record.</p>

<p>“That song,” says Earley, “wouldn’t exist, I don’t think, without that piano. I remember sitting at that thing when I first pulled it in and tinkering with it and just sort of writing that one right away. So it probably would have been a slightly different record. A lot of the songs I wrote on piano and I wouldn’t have because I didn’t have one.”</p>

<p>That’s also partly because Earley admits he wasn’t trying to write an album at that time, but write songs to perfect the recording technique he’d been honing when making the band’s previous full-length, 2007’s <em>Wild Mountain Nation</em>. As such, around three albums’ worth of material was recorded during the sessions for <em>Furr</em>, and it’s a selection of those that comprise the bonus material for this anniversary edition of the record. From the dulcet, chugging tones of “War Is Placebo” to the carefree, summer whimsy of “Ballad Of Bird Love”—a song driven by that same piano—and the melancholy folk tale waltz of “On My Way To The Bay”, the ten outtakes included here offer even further insight into Earley’s creative mindset and the feeling—whatever it is, exactly—that sits at the center of these songs. Written largely between the hours of 11pm and the morning—something that was possible because, in between tours, Earley was living in the studio building—<em>Furr</em> is a very nocturnal album, full of the wonder and the mystery of the night.</p>

<p>Perhaps surprisingly, given the fact Earley wasn’t trying to make a record per se, <em>Furr</em> is an impressively cohesive album, and its counterpart bonus tracks are as well. Much of that is down to Earley’s fastidious recording techniques, using old analogue equipment to create a sound that was inherently nostalgic but also, at the time, anyway, entirely unusual.</p>

<p>“At the time,” he says, “I was going for a very specific sound. And it’s funny, because it’s a sound that you hear so much nowadays—bands have this recording aesthetic that’s very, very lo-fi and almost exactly what I was doing back then, but I was doing it with machinery that was meant to do that as opposed tobands now, who are doing it with modern digital plug-ins. At the time, I was just making what I’d like to hear and I didn’t know if anyone else will like it. It sounds old and distorted—the sound I’d hear in my head when riding my bike around town at 2 in the morning.” </p>

<p>Those days (and nights) may have faded into the past, but they’re very much present within the fabric of <em>Furr</em>. A decade on, they sound just as magical and mystical.</p>

<p>Not, of course, that the band is just relying on the past glory of this record. Far from it. A decade on from the release of <em>Furr</em>, has released five more critically acclaimed and achingly beautiful records. The band hasn’t loosened its ambitions, either. In 2017, the band put together <em>Wild And Reckless</em> a full-production theater event that ran for a month at Portland’s Center Stage theater and which also spawned last year’s full-length of the same name. There are plenty of plans for the future in the works, too. But for now, just for a little while, it’s time to revel in the joy and sorrow of a time and place that no longer exists—except of course, in a few hearts and minds, and in these wonderfully wistful songs.</p>
