<% title 'Contact & Press Info' %>

<h1>Contact & Press Info</h1>

<h4>Contacts</h4>
<dl class="contacts group">
  <div class="contact">
    <dt>Management:</dt>
    <dd><a href="mailto:management@blitzentrapper.net">Danny Goldberg & Brady Brock for GoldVE</a></dd>
  </div>
  <div class="contact">
    <dt>Legal:</dt>
    <dd>Gillian Bar, Esq.</dd>
  </div>
  <div class="contact">
    <dt>US Booking:</dt>
    <dd><a href="http://billions.com/blitzentrapper">The Billions Corporation</a></dd>
  </div>
  <div class="contact">
    <dt>International Booking:</dt>
    <dd><a href="http://www.freetradeagency.co.uk">Free Trade Agency</a></dd>
  </div>
</dl>

<h4>High Resolution Press Images</h4>

<ul class="press-images">
  <li>
    <%= link_to image_tag('http://promo.vagrant.com/websites/blitzentrapper/BlitzenTrapperIMG_MAIN_4009A_JasonQuigley.jpg', :width => 449, :height => 674), 'http://promo.vagrant.com/websites/blitzentrapper/BlitzenTrapperIMG_MAIN_4009A_JasonQuigley.jpg' %>
  </li>
  <li class="last">
    <%= link_to image_tag('http://promo.vagrant.com/websites/blitzentrapper/BlitzenTrapperIMG_ALT_4032A_JasonQuigley.jpg', :width => 449, :height => 674), 'http://promo.vagrant.com/websites/blitzentrapper/BlitzenTrapperIMG_ALT_4032A_JasonQuigley.jpg' %>
  </li>
  <li>
    <%= link_to image_tag('http://promo.vagrant.com/websites/blitzentrapper/Blitzen_Trapper_AATL_Digital_Cover.jpg', :width => 330, :height => 330), 'http://promo.vagrant.com/websites/blitzentrapper/Blitzen_Trapper_AATL_Digital_Cover.jpg' %>
  </li>
  
</ul>

<article class="bio">
  <h4>Bio</h4>

 <p> Over the course of 15 years and seven full-length albums, Blitzen Trapper has crafted one of the more compelling and varied catalogs in contemporary rock and roll. Indeed, singer and guitarist Eric Earley, who is also the Portland, Oregon-based band’s primary songwriter, is possessed of a musical and lyrical sensibility that is remarkably deep and wide; big ideas and universal emotions are wrung from the seemingly plainspoken details of small-screen and often highly personal stories, and set to music that reaches way, way back to old-timey folk and bluegrass, travels through everything from country, psychedelia and soul to prog, garage and metal, indulges gloriously in the classic rock of the 70s and 80s, and makes occasional side trips into hip-hop, skewed pop and noisey freakouts.</p>

<p>Even while continuing to explore broad stylistic territory, Blitzen Trapper’s eighth studio album, a 10-song collection titled All Across This Land, stands as an exceptionally focused and immediate effort. Though it follows 2013’s somewhat experimental VII, a futuristic hip-hop/country-rock hybrid, All Across This Land, in contrast, is a top-down, tightly defined piece of classic rock and roll, full of big riffs, bigger hooks and compelling, instantly relatable lyrics. In sound and scope it recalls two of the band’s more beloved albums, 2008’s breakthrough fourth effort, Furr, and 2011’s landmark American Goldwing. “I think it’s a return to the sort of more ‘classic’ Blitzen Trapper thing, for sure,” Earley says.</p>

<p>It also follows something of a pattern. “It seems to be that every other album goes this way,” Earley continues. “After Furr we did [2010’s] Destroyer of the Void, where we were exploring all these different things. Then came American Goldwing. After that, VII. Now we’re back to that rock thing again.”</p>

<p>Something else All Across This Land shares with Furr and American Goldwing: the fact that these new songs came quick, and in a very concentrated period of time. “Those two albums, I wrote all the songs at once and they all hang together. But the records that came in between, they were written over the course of a year-and-a-half or so,” Earley says. For All Across This Land, he continues, “I had all the songs written and demoed in a three or four month span. And I think they work together because everything came in such a short period.”</p>

<p>And yet, for a record characterized by its focus, there is still plenty of musical and lyrical ground covered within its ten songs. Gentle, almost folksy moments—the lilting, pedal steel-inflected “Love Grow Cold”; the fingerpicked closer “Across the River”; the acoustic-guitar-and-harmonica-led “Lonesome Angel”—abound, even if, for the most part, All Across This Land is defined by its more upbeat rock-and-roll numbers. To that end, Earley says it’s the record that perhaps best represents what Blitzen Trapper is as a live act. “It’s funny, because I think with this band, there’s two different ways people see us,” he says. “People who just hear the music somewhere, they tend to think of us as this, like, indie-folk act. But people who come to the shows know that we’re actually a hard rock band. And who knows? Maybe all that some people really want from us is folk music. But what we like to do is play rock music.”</p>



<p>On All Across This Land, they certainly do. The album kicks off with “All Across This Land,” a slice of sun-drenched rock propelled by a stabbing and syncopated guitar riff and full-voiced chords, accented by some euphoric “hoo hoo” backing vocals. When Earley’s vocal enters, it’s with a greeting of sorts: “Welcome to earth my son you’re here just in time / So much to learn so many ways you can shine.” The song is, at its core, a celebration of life, in particular of one that is just beginning. “One of the members of our band, Mike [Van Pelt] had just had his second boy, and I was thinking a lot about that,” Earley says. From there, he also began to look back on his relationship with his own father, a bluegrass and folk musician. “I was remembering how my father taught me to play music, There’s just so much potential in that relationship you have with a new life.” </p>

<p>From here, the record moves into “Rock and Roll Was Made for You,” another celebration of sorts, this one for music itself. Over a driving, percussive guitar riff, Earley testifies about its sometimes otherworldly powers: “Rock and roll gonna make you shout / It’s for shooting down planes after blacking out.” </p>

<p>Music also serves as the inspiration behind the record’s third track, the pulsing and atmospheric “Mystery and Wonder.” “In a lot of ways this one is me reminiscing about the songs I’ve written in the past and my reasons for writing them,” Earley says. “And it also looks at how we got into playing music as a band. Because we all came from much smaller places and then we moved to the city, which was Portland. Now, Portland isn’t really that big a place, but to us it was. And that’s where it all started.” Another cut, “Nights Were Made For Love” finds Earley examining his life and band from a more nostalgic perspective. Over a quick-paced but laidback country-rock rhythm, he sings about being “stupid, strange and young at heart / and all we wanted was to rock and roll.” “It’s looking back at our high school days—going to football games, playing music,” he says. “In certain ways, it’s sort of the story of the journey of our band.”</p>

<p>Earley’s childhood comes into play in a much different way on the dark and driving “Cadillac Road.” “That song is about a small mill town in the mountains outside of where we all grew up,” the singer explains. “Around ‘83 or ’84, they shut down the mill and everyone was told to pack up and leave. And everyone did—but one guy stayed. People said he lived in the woods, and that if you listened you could hear him at night. It was this odd story that stuck with me, and I felt like I should tell that story.” But in telling the tale of one man, Earley manages to touch on much larger themes of loss, regret and perseverance in the face of a shifting American landscape. “Gotta change with the times,” he sings at one point, “but I don't have the heart.”</p>

<p>The album ends with another big statement, “Across the River,” a rumination on life and death that Earley sees as something of a bookend to opener “All Across This Land.” “I feel like they tie in together, because the first song is about new life, and the last one is almost a near-death experience,” he says. “I’m crossing a river to another place that’s something like the afterlife—it’s heaven, but it’s not. And then my father shows up and he says, ‘You’re not supposed to be here yet. You’ve got more stuff to do.’ ”</p>

<p>Earley’s father comes up often in the context of his lyrics, which is understandable—the elder Earley has cast a long shadow over his son’s musical life. “My dad and my grandfather both played instruments—guitars, banjos…my grandfather was a harmonica virtuoso,” Earley says. “So there was a lot of music around me as a child. And it was old-timey stuff. Like mountain music—the kinds of songs where no one knows who wrote them, basically.”</p>


<p>Earley’s childhood was so rooted in this music that he didn’t get turned on to rock and roll until much later, when he was already in high school. “So to me,” he says, “the 80s is kind of my foundation for rock. A lot of my influence is from the Replacements, R.E.M., that kind of stuff. Even Pavement in the early 90s.” As a result, on All Across This Land, “when I’m thinking of rock and roll, I’m thinking of Paul Westerberg, to be honest,” Earley admits with a laugh. In addition to Westerberg, he also cites Joe Walsh as one of his main rock influences: “He’s always been one of my favorite guitar players, and you can hear it on the album. The riffs and chords on ‘All Across This Land,’ that’s straight from Joe Walsh.” </p>

<p>That love of a particular type of rock and roll helped guide Blitzen Trapper’s approach on All Across This Land. “We recorded it specifically to be a two guitar, bass, drums and piano record,” Earley says. “Every song is a band song, and arranged just how we’d play it onstage. Because at this point, we’ve made tons of records and we’ve played tons of shows. And the people who come out to see us, they understand what we’re doing and they don’t care about genres or anything like that. They’re more interested in our actual specific unique personality as a band.”</p>

<p>As for what that specific personality is? “I think there’s two kinds of songs I love to write,” Earley says. “I love songs that rock hard and that just make you feel good, and then I love songs that are sad and introspective and touch you in a very deep place.”</p>

<p>Which, in essence, is exactly what Blitzen Trapper puts forth on All Across This Land.  “I was trying to distill everything down to those two things,” Earley explains. And if, in doing so, the band happens to pick up a host of different sounds and styles along the way, so be it. “We’re never going to be a band that plays the same song over and over again,” he says. “We like to explore. And sometimes that’s not so easy for people to deal with.  But we’re going to just keep on doing what we do.” 
</p>


</article>
