<% title 'Contact & Press Info' %>

<h1>Contact & Press Info</h1>

<h2>Contacts</h2>

<dl>
  <div class="contact">
    <dt>Management</dt>
    <dd><a href="mailto:management@blitzentrapper.net">Brady Brock</a></dd>
  </div>
  <div class="contact">
    <dt>Legal</dt>
    <dd>Gillian Bar, Esq.</dd>
  </div>
  <div class="contact">
    <dt>North American Booking</dt>
    <dd><a href="mailto:lori@concertedefforts.com">Lori Peters, Concerted Efforts</a>&nbsp617-969-0810</dd>
  </div>
  <div class="contact">
    <dt>ROW Booking</dt>
    <dd><a href="mailto:steven@toutpartout.be">Steven Thomassen, Toutpartout</a></dd>
  </div>
  <div class="contact">
    <dt>Radio Promotion</dt>
    <dd><a href="mailto:bradpaul56@gmail.com">Brad Paul</a></dd>
  </div>
  <div class="contact">
    <dt>Publicity</dt>
    <dd><a href="mailto:lellie@yeprocmusicgroup.com">Lellie Capwell</a></dd>
  </div>
  <div class="contact">
    <dt>Webmaster</dt>
    <dd><a href="https://twitter.com/TRMW">Matt Wright</a> - <a href="https://github.com/TRMW/blitzentrapper">GitHub project</a></dd>
  </div>
</dl>

<h2>High Resolution Press Images</h2>

<%= link_to image_tag('http://files.blitzentrapper.net/press/Blitzen%20Trapper.jpg', :width => 360), 'http://files.blitzentrapper.net/press/Blitzen%20Trapper.jpg' %>

<h2>Bio</h2>

<p>Singer-songwriters have been tackling existential questions about life and death since time immemorial… or at least the 1960s. But when it came to Blitzen Trapper’s newest album, <em>Holy Smokes Future Jokes</em>, front man Eric Earley looked beyond mere existence—or even the end of it—to contend with grander cosmic explorations: namely, the intermediate period between a person’s separate lives on earth, “and what it means to escape the cycle of birth and rebirth,” he explains.</p>
<p>Weighty stuff, to say the least. But then again, Blitzen Trapper has never been the type of band to just skim the surface. Over the course of 20 years and ten full-length albums, the Portland, Oregon-hailing act, with singer, songwriter and guitarist Earley firmly at the helm, has crafted a singular catalog of songs—sometimes wrapped in impressionistic imagery and scruffy, singalong melodies (the fan favorite “Furr,” for just one example), and other times rendered in sharp-focus, needlepoint detail and imbued with driving, electrified rhythms (“Cadillac Road,” about a depressed and deserted mill town in the Oregon mountains where Earley’s father once worked, comes to mind here)— that celebrate the human experience in all its triumph and tragedy.</p>
<p>As for how each new album comes into focus, well, that’s more a matter of immediate inspiration than some long-conceived plan. “The records are a chronicle of my own journey, to be honest—snapshots of where I am at that time,” Earley says. “I don’t know that that’s any way to have a career, but for me it’s a cathartic way of documenting where my head’s at.”</p>
<p>Which brings us back around to <em>Holy Smoke Future Jokes</em>, a record that, in following where Earley’s head is at these days, cuts a spectacular, almost supernatural path through the past, present and still-to-come. Earley’s words take the listener on a wild and dramatic journey through rivers of waist-high water in the aftermath of a tragic car wreck and the hazy morning before a murderous moment, and from getting blitzed to the point of extinction inside a masonic temple to a stop for chips and dip before the apocalypse. Along the way, there’s also an occasion to smoke dope with Abe Lincoln and play bones with Brian Jones, slide through the ether in a dream, and confront the Intermediate States while bathed in the glow of the bardo’s light.</p>
<p>In fact, it is the notion of the bardo, that transitional state between death and rebirth, that holds a central place of purpose on <em>Holy Smokes Future Jokes</em>. Early on in the songwriting process, Earley took inspiration from several texts, among them George Saunders’ 2017 experimental tome, <em>Lincoln in the Bardo</em>, which subsequently led him to dig deep into the <em>Bardo Thodol</em>, more commonly known as the <em>Tibetan Book of the Dead</em>. “I became obsessed with it,” Earley says. “All the ideas contained in that book were speaking to me in a lot of different ways.”</p>
<p>As for how that translated into the songs on <em>Holy Smokes Future Jokes</em>?</p>
<p>“The main theme that kept drawing me in when I was writing was what I call ‘cosmic humility,’ ” he says. “It’s the idea that humanity is not the center of the universe, or even the center of our <em>own</em> universe here on earth. We’re not the most important thing. Because we’ve only been around for, like, a fraction of a fraction of a fraction of a second in the grand scheme of things, you know? But it’s very difficult for humans to conceive of their own non-existence.”</p>
<p>Difficult to conceive of, indeed, but as is characteristic of Earley’s songwriting, on <em>Holy Smokes Future Jokes</em> he addresses these concepts by homing in on deeply personal and highly affecting stories. Take the album’s opener, “Baptismal,” in which he recounts an oft-told tale from his high school days about a group of local kids who perished in a drunk-driving accident, their car veering off a neighborhood road and into a river. Over a prickly, hypnotic fingerpicked guitar pattern that reflects and amplifies the ominous setting, Earley sings in hushed tones, “Empty bottle on the backseat floor / filled with dreams from a forgotten shore / And your heart left open like a bedroom door.”</p>
<p>“I was imagining the souls of these kids as they’re called out of that situation and upward into the bardo, and they’re looking back down on their demise and their own folly,” Earley explains. And while this particular story was one of local lore in Earley’s town, “I think it’s something that’s also common everywhere in America,” he says.</p>
<p>At the other end of the record, meanwhile, is the briskly-strummed closer “Hazy Morning.” This song likewise focuses in on an all-too common American tragedy—school shootings—but viewed through a unique lens: Rather than detailing the event itself or its horrific aftereffects, Earley takes a different tack, imagining the “many voices vying for attention” inside the shooter’s head on the morning before he begins his rampage.&nbsp;</p>
<p>“The chorus is basically the voices talking to him, telling him, ‘If you’re ready to roll with us…’ ” Earley says. “And he’s sort of along for the ride.” While Earley acknowledges his treatment of the issue could be viewed as “somewhat detached,” he stresses that his intent is to highlight “what it means to have that kind of mental health issue. Because mental health is at the center of it all, right? Every victimizer is himself a victim at some point. It’s this unending chain.”</p>
<p>Of course, it’s worth noting that sandwiched between the album’s powerful bookend tracks are ruminations on mortality and the afterlife that are occasionally treated with a considerably lighter touch. Take the indie-roots rave-up “Masonic Temple Microdose #1,” in which a group of friends break into the titular temple to get high and party down.</p>
<p>“I wanted to paint a picture of an extremely nihilistic bunch of kids who are sitting around in this temple discussing their philosophies on life,” Earley says. “And eventually they’re like, ‘Fuck it, let’s just get wasted.’ And then they’re like, ‘Let’s go <em>extinct</em>.’ Which is sort of the ultimate version of getting wasted. It’s the flipside of the bardo—this final extinction and total emptiness.”</p>
<p>As for whether there’s anything autobiographical in that one? “Well, there was a weird, cult-y sort of temple near where I grew up, but I never broke into it,” Earley admits. Although, he adds, “I did try to.”</p>
<p>Then there’s “Dead Billie Jean,” on which Earley imagines the title character from the Michael Jackson classic having committed suicide and ascended to the bardo, where she finds herself rubbing shoulders with the likes of Abraham Lincoln, Jim Morrison, and the Rolling Stones’ Brian Jones. “She’s just hanging out with these dead rock stars that she doesn’t really know or care about,” Earley says. “But they’re all there getting high together.”</p>
<p>As for the deeper significance? “Well, the story of Billie Jean is that she was based on Michael Jackson’s real-life stalker,” Earley says. “And I was imagining these famous people, and also people who aren’t famous but who are obsessed with famous people, all stuck in the bardo together because they can’t let go of certain things that they were after in their lives. So in the song Billie Jean has killed herself, but somehow she’s unaware that she’s trapped in the intermediate state.”</p>
<p>As is probably evident at this point, there’s an inherent otherworldliness to much of the lyrics and imagery on <em>Holy Smokes Future Jokes</em>. But the music, in contrast, is rooted in a considerably more earthy folk-rock sensibility, and centered around acoustic instrumentation. “A lot of it is fingerpicked guitars and stuff like that,” Earley says.</p>
<p>As for why?</p>
<p>“As I was writing these songs and trying to understand my own actions, it got me thinking about what I initially loved about playing guitar when I was five and six years old—and that was just sitting and fingerpicking on an acoustic,” he explains. “So I started to go back to all these different ways and means of playing that I liked doing when I was a little kid. And that seemed to fit with the music, because it was a darker, more intimate kind of thing I was doing with these songs.”</p>
<p>Needless to say, it’s a markedly different approach than Earley has taken on Blitzen Trapper’s last few albums, including the upbeat and electrified <em>All Across This Land</em> and the sprawling and ambitious <em>Wild and Reckless</em>, the latter of which grew out of a month-long stage production in their hometown of Portland produced by the Portland Center Stage.</p>
<p>“The last one was much more of a blown-out, big concept piece,” Earley says of<em> Wild and Reckless</em>. “Where this record is much more insular and personal.”</p>
<p>It’s also, despite the sometimes heavy subject matter, more concerned with light than darkness, Earley says.</p>
<p>“The truth is, I don’t find death as a topic to really be dark in any way—it’s more like a portal into all kinds of other stuff,” Earley says. “And I think that’s why I really love the concept of the bardo. The whole idea is that you’re moving through this place where you’re forced to make decisions and to see different things and different perspectives. I wouldn’t say it’s a place of hope, but it’s certainly a place of wonder. To me, it’s more magical than anything.”</p>
<p>That magical vibe flows throughout the entirety of <em>Holy Smokes Future Jokes</em>.</p>
<p>“All the songs talk to each other, at least to me they do, and in really cool ways,” Earley says. “And in some really dark and disturbing ways sometimes, too.”</p>
<p>He laughs. “But still, really cool.”</p>
