<% title 'Contact & Press Info' %>

<h1>Contact & Press Info</h1>

<h4>Contacts</h4>
<dl class="contacts group">
  <div class="contact">
    <dt>Management:</dt>
    <dd><a href="mailto:management@blitzentrapper.net">Brady Brock</a></dd>
  </div>
  <div class="contact">
    <dt>Legal:</dt>
    <dd>Gillian Bar, Esq.</dd>
  </div>
  <div class="contact">
    <dt>US Booking:</dt>
    <dd><a href="http://billions.com/blitzentrapper">The Billions Corporation</a></dd>
  </div>
  <div class="contact">
    <dt>ROW Booking:</dt>
    <dd><a href="mailto:steven@toutpartout.be">Steven Thomassen, Toutpartout</a></dd>
  </div>
  <div class="contact">
    <dt>Radio Promotion:</dt>
    <dd><a href="mailto:michael.plen@ingrooves.com">Michael Plen, INgrooves</a></dd>
  </div>
</dl>

<h4>High Resolution Press Images</h4>

<!-- <p>
  band photo credit: <a href="http://www.photojq.com" target=_"blank">Jason Quigley</a> / record cover design: <a href="http://www.ericadrianlee.com">Eric Adrian Lee</a>
</p> -->

<ul class="press-images">
  <li>
    <%= link_to image_tag('http://files.blitzentrapper.net/press/Blitzen%20Trapper.jpg', :width => 360), 'http://files.blitzentrapper.net/press/Blitzen%20Trapper.jpg' %>
  </li>
  <!-- <li class="last">
    <%= link_to image_tag('http://promo.vagrant.com/websites/blitzentrapper/BlitzenTrapperIMG_ALT_4032A_JasonQuigley.jpg', :width => 360, :height => 540), 'http://promo.vagrant.com/websites/blitzentrapper/BlitzenTrapperIMG_ALT_4032A_JasonQuigley.jpg' %>
  </li> -->
</ul>

<article class="bio">
  <h4>Bio</h4>

  <p>A question I ask myself, why make records? And why in particular did I make this record? I've made lots of records, about half of them shared with the world, the other half squirreled away for no good reason.</p>

  <p>Songs upon songs upon songs.</p>

  <p>But I guess in the end I just had some stories to tell, like the one about the cop turned cocaine dealer, or the murderous 13 year old girl, or the underage lovers who steal her mom's checkbook, her dad's truck and go on a spree down the west coast, free as the wind, until it becomes clear the boy is addicted to heroin, the physical freedom outstripped by enslavement to the substance. And but lets not forget the one about the woman in the black TransAm who steals hearts from wrecked/jaded men deep in their cups, another form of internment. Stories upon stories.</p>

  <p>Each story is true in some sense.</p>

  <p>So I guess I have my reasons for making a record. For adding to the overwhelming fetid deluge of content running wild, pushing at the banks of cultural consciousness for no good reason. And really the value of a record seems to be increasingly non-monetary. As it should be I guess, the true craft, the reality of music, of voice, is played out on stages across the country, not in bluetooth earbuds.</p>

  <p>And so 10 years after <em>Furr</em>, a record that touched a vein and continues to, the song itself more widely known than the band that made it, after 10 years of touring with Blitzen Trapper, after all the drug busts, run-ins with the law, drunken nights/fights/wrecks, flings with fans/groupies/angels, run ins with demons/criminals/saints, TV appearances, court appearances, disappearances, what do we have to show for it?</p>

  <p>Nothing much that can be physically pointed to, it's more a feeling. A cerebral kind of currency, of having communed/partaken/contributed to the dialogue of rock music, of the musical arts as well as a sense of America as a whole. This country like a willfully ignorant child, blind to its faults, not knowing how good it has it, half-heartedly adhering to a God that no longer exists, its leadership nothing but a mirror held up to its own fat misshapen face. To possess this sense, this knowledge is worth its weight in gold. This is the true meaning of that genre we are a part of, what we call Americana.</p>

  <p>We recently created a theater event that ran for a couple months in our hometown of Portland, OR called <em>Wild and Reckless</em>, half musical, half rock-opera dealing with heroin abuse, desperation, True Love and western power structures. Heady as shit, but in the end as it unfolded I realized it was really about music, that longing for escape, that pure juvenile psychedelia we possessed as kids laying in summer grass gazing up at the clouds in the sky seeing shapes in them, imbuing them with a reality that was not really there but that we saw it and named it. Stories upon stories.</p>

  <p>This resultant album <em>Wild and Reckless</em> is a companion to <em>Furr</em>, a second volume in that wild dystopian reality of killers and shape-shifters, and there is a running narrative to it that, like its companion <em>Furr</em> hinges upon Love, love lost, found, hidden. That's the center, the Heart of the matter and all the stories upon stories revolve around it like a menagerie of rocks around a burning sun.</p>

  <p>&mdash; Eric Earley</p>
</article>
