<% title "Home" %>

<div id="home">
<div class="topspin-widget topspin-widget-email-for-media"><object type="application/x-shockwave-flash" height="500" width="500" id="TSWidget24330" data="http://cdn.topspin.net/widgets/email2/swf/TSEmailMediaWidget.swf?timestamp=1275070992" bgColor="#000000"> <param value="always" name="allowScriptAccess" /> <param name="allowfullscreen" value="true" /> <param name="quality" value="high" /> <param name="movie" value="http://cdn.topspin.net/widgets/email2/swf/TSEmailMediaWidget.swf?timestamp=1275070992" /> <param name="flashvars" value="widget_id=http://cdn.topspin.net/api/v1/artist/2478/email_for_media/24330?timestamp=1275070992&amp;theme=black&amp;highlightColor=0xFFFFFF&playMedia=true"/></object></div>

</div>