<%- content_for :head do -%>
<meta property="fb:admins" content="673067195,1022981217,1021427354,1067316682,100001588148513"/>
<meta property="og:title" content="Destroyer of the Void by Blitzen Trapper"/>
<meta property="og:type" content="album"/>
<meta property="og:url" content="http://www.blitzentrapper.net/records/destroyer-of-the-void"/>
<meta property="og:site_name" content="blitzentrapper.net"/>
<meta property="og:image" content="http://files.blitzentrapper.net/covers/destroyer-of-the-void/big.jpg"/>
<meta property="og:description" content="The fifth album by Portland, Oregon rock band Blitzen Trapper."/>
<%- end -%>

<div id="home">

	<div class="left">
	<% @blogposts['post'].each do |@post| %>
		<%= render :partial => 'blog/post' %>
	<% end %>
	<p>
	<strong><a href="http://feeds.feedburner.com/blitzentrapper">Subscribe to our RSS Feed &rarr;</a></strong><br />
	<strong><a href="http://tumblr.com/follow/blitzentrapper/">Follow us on Tumblr &rarr;</a></strong>
	</p>
	</div>

</div>