<%- content_for :head do -%>
<meta property="fb:admins" content="100001588148513"/>
<meta property="fb:app_id" content="124824307554524"/>
<meta property="og:title" content="The Blitzen Trapper Massacre"/>
<meta property="og:type" content="movie"/>
<meta property="og:url" content="http://www.blitzentrapper.net/blitzen-trapper-massacre"/>
<meta property="og:site_name" content="blitzentrapper.net"/>
<meta property="og:image" content="http://b.vimeocdn.com/ts/137/398/137398213_200.jpg"/>
<meta property="og:description" content="A meditation on music, fandom, blood, and guts, starring Rainn Wilson and Blitzen Trapper."/>
<%- end -%>

<div id="home">
<iframe src="http://player.vimeo.com/video/21360174?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" width="760" height="428" frameborder="0"></iframe>

<div style="padding-top:10px">
	<div style="float:left;padding-top:2px">
	<a href="http://twitter.com/share" class="twitter-share-button" data-text="Watch @RainnWilson kill @BlitzenTrapper dead! Behold, &quot;The Blitzen Trapper Massacre&quot;:" data-count="horizontal" data-related="BlitzenTrapper">Tweet</a>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	</div>
	<div style="float:left">
	<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.blitzentrapper.net/blitzen-trapper-massacre&amp;show_faces=false" scrolling="no" frameborder="0" style="height: 23px; width: 450px" allowTransparency="true"></iframe>
	</div>
</div>

<div style="clear:both;padding-top:10px;">
	<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=202193636459328&amp;xfbml=1"></script><fb:comments href="http://www.blitzentrapper.net/blitzen-trapper-massacre" num_posts="20" width="760"></fb:comments>
	</div>
</home>