<%- content_for :head do -%>
<meta property="fb:page_id" content="19099288648" />
<meta property="og:title" content="The Tree music video premier by Blitzen Trapper"/>
<meta property="og:url" content="http://www.blitzentrapper.net/tree"/>
<meta property="og:site_name" content="blitzentrapper.net"/>
<meta property="og:image" content="http://b.vimeocdn.com/ts/939/836/93983660_200.jpg"/>
<meta property="og:description" content="Music video for The Tree by Portland, Oregon rock band Blitzen Trapper, featuring Alela Diane. Directed by Daniel Elkayam."/>
<%- end -%>

<div id="home">
<iframe title="YouTube video player" class="youtube-player" type="text/html" width="759" height="457" src="http://www.youtube.com/embed/SGQCX6xzX44?rel=0&amp;hd=1" frameborder="0"></iframe>
<div style="padding-top:10px">
<div style="float:left;padding-top:2px">
<a href="http://twitter.com/share" class="twitter-share-button" data-text="New video for @BlitzenTrapper's &quot;The Tree,&quot; featuring Alela Diane, directed by @danielkayam. SWEET!" data-count="horizontal" data-related="BlitzenTrapper">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div style="float:left">
<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.blitzentrapper.net/tree" scrolling="no" frameborder="0" style="height: 75px; width: 450px" allowTransparency="true"></iframe>
</div>
</div>
</home>