.avatar-image {
  width: $avatar-width;
}

.avatar-image--tiny {
  width: 15px;
  height: 15px;
  vertical-align: text-top;
}

.avatar__badge {
  text-align: center;
  background-color: white;
  color: black;
  font-weight: bold;
}