.flash {
  text-align: center;
  padding: 10px;
  background-color: $text-color;
  font-weight: bold;
  color: white;
}

.flash--notice {
  background-color: $success-color;
}

.flash--alert {
  background-color: $error-color;
}

#errorExplanation {
  padding: 2px 10px;
  color: white;
  background-color: $error-color;
  margin-bottom: $padding-small;

  // i.e. "1 error prohibited this user session from being saved"
  h2 {
    display: none;
  }

  li {
    font-weight: bold;
    margin: 1em 0;
  }
}