<% if @post['title'] %>
  <% title @post['title'] %>
<% end %>

<div class="single-blog-post">
  <%= render :partial => 'post' %>
  <p>
    <strong><a href="http://feeds.feedburner.com/blitzentrapper">Subscribe to our RSS Feed &rarr;</a></strong><br />
    <strong><a href="http://tumblr.com/follow/blitzentrapper/">Follow us on Tumblr &rarr;</a></strong>
  </p>
</div>
