/*
*= require reset
*= require_self
*= require fancybox
*= require_tree .
*/

/* Globals */

body {
  background-color: #4f9a79;
  background: image-url("across-this-land-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;

  }

  input, textarea, {
	  color:#000 !important;
  }

  #inner {color:#fff;}

#container {
  margin: 30px auto 30px;
  width: 840px;
  word-wrap: break-word;
  }

#inner {
  float: left;
  width: 760px;
  background-color: rgba(66, 50, 37, 0.95);
  padding: 20px 40px 30px;
  position: relative;
  }

h1, h2 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  line-height: 30px;
  }

h3 {
  font: bold 20px/24px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin: 0 0 3px;
  }

a img {
  border: none;
  }

a {
  color: #bbf1b5;
  text-decoration: none;
  }

a:hover {
  color: white;
  }

.delete-link:hover {
  color: red;
  }

blockquote {
  background: #eee;
  margin: 1em 20px;
  padding: 5px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  }

p {
  margin: 1em 0;
  }

ul,
ol {
  margin: 1em 0;
  padding-left: 35px;
  }

ul {
  list-style-type: disc;
  }

.meta {
  font-size: small;
  color: gray;
  }

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  }

.last {
  margin-right: 0 !important;
  padding-right: 0 !important;
  border-right: none !important;
  }

.first {
  clear: both;
  }

.permalink {
  color: grey;
  }

.permalink:hover {
  text-decoration: underline;
  }

.narrow-content {
  width: 370px;
  margin: 0 auto;
  }

.field-help {
  color: grey;
  margin-top: -10px;
  }


/* Header */

#header {
  margin: 40px auto;
  text-align: center;
  }

#nav {
  margin: 0;
  padding: 0;
  }

#header h1 {
  background: image-url("across-this-land-logo.png") no-repeat;
  width: 719px;
  height: 126px;
  font: normal 76px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto 40px;
  text-indent: -1500px;
  overflow: hidden;
  }

#nav li {
  display: inline;
  margin: 0 auto;
  padding-right: 8px;
  margin-right: 8px;
  border-right: solid 1px #bbf1b5;
  font-size: 22px;
  -webkit-text-size-adjust: none;
  }

#nav a {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  color: white;
  }

#nav a:hover {
  color: #bbf1b5;
  }


/* Chunky Form */

form.chunky-form { margin: 15px 0 0; }

.chunky-form input[type="text"],
.chunky-form input[type="password"],
.chunky-form textarea {
  border: solid 1px silver;
  padding: 10px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  }

.chunky-form input[type="text"],
.chunky-form input[type="password"] {
  width: 350px;
  font-size: 20px;
  margin-bottom: 1em;
  }

.chunky-form textarea {
  font-size: 16px;
  }

.chunky-form input[type="checkbox"] {
  padding: 0;
  margin: 0 5px 0 0;
  }

.chunky-form input[type="submit"] {
  margin-top: .5em;
  margin-bottom: 1em;
  outline: none;
  }

.chunky-form input[type="text"]:disabled,
.chunky-form input[type="password"]:disabled,
.chunky-form input[type="submit"]:disabled  {
  opacity: .5
  }

.chunky-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  }

.chunky-form .checkbox-line {
  margin-bottom: 1em;
  }

.chunky-form .checkbox-line label {
  display: inline;
  vertical-align: middle;
  }

.chunky-form .button {
  width: 175px;
  font-size: 15px;
  padding: 10px;
  border: solid 1px silver;
  display: block;
  background: #eee;
  cursor: pointer;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  }

.chunky-form .button:active {
  background: silver;
  }


/* Flash */

#flash_notice,
#flash_error {
  color: white;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 8px;
  max-width: 600px;
  }

#flash_notice {
  background-color: #6cc644; /* flash colors ripped from GitHub #notproud */
  }

#flash_error {
  background-color: #bd2c00;
  }

.error-text { /* email signup error */
  color: #bd2c00;
  }


/* Userbar */

#userbar {
  text-align: right;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: black;
  padding: 5px 8px;
  }

#userbar img {
  height: 12px;
  width: 12px;
  vertical-align: middle;
  }

#userbar a {
  text-decoration: underline;
  }

#userbar a:hover {
  color: white;
  }

#userbar a.user-action {
  text-decoration: none;
  font-size: 10px;
  }


/* Subnav */

#subnav {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 1.5em;
  padding-bottom: 10px;
  font-weight: bold;
  border-bottom: 2px solid silver;
  overflow: hidden;
  list-style-type: none;
  }

#subnav a {
  color: white;
  text-decoration: underline;
  }

#subnav li {
  float: left;
  margin-right: 5px;
  color: gray;
  line-height: 25px;
  }

#subnav li:after {
  content: "\0020 \2022";
  }

#subnav li:nth-last-child(2) {
  margin-right: 0;
  }

#subnav li:nth-last-child(2):after {
  content: ""
  }

#subnav .search {
  float: right;
  padding: 0;
  margin: 0;
  }

#subnav .search:after {
  content: "";
  }

#subnav form {
  margin: 0;
  display: inline;
  }

#subnav .search label {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  font-weight: bold;
  color: white;
  line-height: 25px;
  }

#subnav .search input {
  float: left;
  padding: 3px;
  margin: 0;
  width: 150px;
  border: solid 1px silver;
  font-size: 14px;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -border-radius: 0;
  }


/* Home */

.tour-callout {
  margin: 10px 0 50px;
  text-align: center;
  border-top: dashed 1px #BD8B00;
  position: relative;
  }

.tour-callout a {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 310px;
  margin-left: -155px;
  background: #FFFFDB;
  border: solid 1px #BD8B00;
  padding: 8px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }

.tour-callout a:hover {
  text-decoration: underline;
  }

#home {
  float: left;
  width: 100%;
  }

#home .left {
  float: left;
  width: 500px;
  }

#home .right {
  float: right;
  width: 240px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  }

#home .right li {
  margin-bottom: 40px;
  }

#home .right h4 {
  font: bold 18px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  margin-bottom: 1em;
  border-bottom: 2px solid #bbf1b5;
  padding-bottom: 5px;
  color:#fff;
  }

#home .right #top { margin-top: 0; }

#home .right .meta-line {
  display: block;
  line-height: 20px;
  }

#home .right ul {
  padding-left: 20px;
  }

#home .right li li {
  margin-bottom: 0;
  }

#home .right .avatar {
  height: 15px;
  width: 15px;
  position: relative;
  top: 2px;
  }

.tiny-avatar {
  height: 30px;
  width: 30px;
  }

#home .right .meta a {
  color: gray;
  text-decoration: none;
  vertical-align: bottom;
  }

#home .right .meta a:hover {
  text-decoration: underline;
  }

.single-blog-post {
  width: 500px;
  margin: 0 auto;
  }

#list-signup-email {
  width: 220px;
  margin-bottom: .5em
  }

#list-signup-submit {
  width: 100%;
  }


/* Blog */

.blog-timestamp {
  font-size: small;
  border-bottom: 1px solid silver;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 2em;
  }

.blog-video {
  text-align: center;
  }

.blog-photo {
  display: block;
  margin: 0 auto 1em;
  }

.blog-footer a {
  display: block;
  }

.blog-footer .blog-page-link {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
  }

#home .twtr-widget h4 {
  border-bottom: none;
  }


/* Shows */

#shows-container {
  width: 600px;
  margin: 0 auto;
  }

#shows-container .button_to { /* refresh shows button */
  float: left;
  }

.show-nav {
  width: 470px;
  float: right;
  }

.show {
  width: 100%;
  float: left;
  }

.left h3 {
  line-height: 30px;
  font-weight: normal;
  }

.show .right {
  float: right;
  width: 470px;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  }

.show .right h3 {
  display: inline;
  margin-right: 8px;
  }

.show .city {
  font-weight: bold;
  }

.show-meta {
  color: gray;
  font-size: small;
  }


/* Show Archive */

.year {
  width: 90px;
  margin: 0 15px 0 0;
  float: left;
  text-align: right;
  }

.current-year {
  margin: 20px 0;
  }

.current-year:first-child {
  margin-top: 0;
  }

.months strong {
  display: block;
  }

.archive-page .yellow {
  line-height: 28px;
  vertical-align: top;
  }

.tracklist {
  margin-bottom: 1em;
  }


/* Single Show */

#showposts {
  margin: 2em 0;
}

.show-post {
  margin: 1em 0;
  background-color: #eee;
  padding: 1em;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  }

.show-post img {
  vertical-align: middle;
  }

.show-post a, .show-post span {
  display: inline !important;
  }

.show-post p {
  margin-bottom: 0;
  }

.setlist {
  margin: 2em 0;
  }

.show span, .show a, .show h1 {
  margin-bottom: 3px;
  }

.show .left {
  width: 90px;
  margin: 0 15px 0 0;
  float: left;
  text-align: right;
  }

.show textarea { width: 448px; height: 50px; }

.show form { margin-top: 1em; }

.show .chunky-form label { font-weight: bold; }

.show .avatar {
  height: 30px;
  width: 30px;
  }


/* Setlists */

.show .setlist {
  border: solid 1px #ffff8b;
  background-color: #ffffdb;
  color: black;
  }

.show .setlist .title {
  background-color: #ffff8b;
  padding: 10px;
  font-weight: bold;
  }

.show .setlist .title a {
  float: right;
  color: black;
  text-decoration: underline;
  }

.show .setlist #tracks ol {
  margin: 20px 10px;
  }

.show .setlist #tracks li {
  height: 22px;
  line-height: 22px;
  margin-bottom: 12px;
  }

.show .setlist #tracks input[type="text"] {
  border: solid 1px #d5db00;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  height: 20px;
  margin: 0;
  padding: 0 7px;
  width: 246px;
  }

.show .setlist #tracks select {
  background: #ffff8b;
  border: solid 1px #d5db00;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  height: 22px;
  margin: 0;
  padding-left: 7px;
  width: 262px;
  }

.show .setlist #tracks a, .handle {
  background-color: #ffff8b;
  border: solid 1px #d5db00;
  color: #444;
  float: right;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 0 8px 0 0;
  padding: 0 5px;
  text-align: center;
  width: 48px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  }

.show .setlist #tracks a:hover, .show .setlist li .handle:hover {
  background-color: yellow;
  }

.handle {
  cursor: move;
  }

.show .setlist #tracks input[type="submit"] {
  width: 430px;
  background: #ffff8b;
  border: solid 1px #d5db00;
  margin: 5px 20px 20px;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  }

.show .setlist #tracks input[type="submit"]:active {
  background-color: yellow;
  }

.encore {
  color: white;
  background-color: grey;
  font-weight: bold;
  margin-bottom: 12px;
  margin-right: 8px;
  padding: 5px 0 5px 10px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  }

.encore .handle {
  background-color: transparent;
  border-color: transparent;
  color: white;
  margin-right: 0;
  }

#encore-display {
  border-bottom: solid 1px silver;
  font-weight: bold;
  margin: 20px 10px 10px -30px;
  padding-bottom: 5px;
  }


/* Records */

.record {
  float: left;
  width: 240px;
  margin: 0 20px 20px 0;
  }

.record img {
  margin-bottom: 5px;
  }

.record-link {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  }

.record em {
  display: block;
  font-style: normal;
  font-weight: bold;
  color: gray;
  font-size: small;
  }

.record-show {
  float: left;
  width: 100%;
  }

.record-show .left {
  float: left;
  width: 400px;
  margin: 0 20px 20px 0;
  }

.record-show .right {
  float: left;
  width: 340px;
  }

.record-show h2 {
  margin-bottom: 5px;
  }

.record-show .recordmeta {
  color: gray;
  font-size: small;
  }

.record-show .description {
  display: block;
  margin: 1em 0;
  }

.buy-buttons {
  display: block;
  margin-top: 8px;
  }


/* Forum */

#forum {
  width: 600px;
  margin: 0 auto;
  }

#forum .topic_teaser {
  margin-bottom: 2em;
  }

#forum .topictop {
  display: block;
  }

#forum .topicmeta {
  display: block;
  font-size: small;
  color: gray;
  }

#forum em {
  font-style: normal;
  }

#new-topic {
  border-top: solid 1px silver;
  padding-top: 30px;
  margin-top: 30px;
  }


/* Topic */

.topic .subject {
  text-align: center;
  margin-bottom: 30px;
  }

.topic .post:last-child {
  border-bottom: none;
  }

form#new_topic,
#topic-form form,
#post-form form,
.topics-body h1,
.posts-body h1 {  /* forum index */
  width: 600px;
  margin: 10px auto 0;
  }

form#new_topic textarea,
#topic-form textarea,
#post-form textarea {
  width: 580px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  border: solid 1px silver;
  }


/* Post */

.post {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid silver;
  width: 100%;
  float: left;
  }

.post p:last-child {
  margin-bottom: 0;
  }

.postmeta {
  color: gray;
  font-size: small;
  line-height: 25px;
  }

.postmeta a {
  color: inherit;
  }

.postleft {
  width: 115px;
  margin-right: 1em;
  float: left;
  text-align: center;
  }

.postleft .avatar {
  max-width: 115px;
  max-height: 115px;
  }

.forum-badge {
  font-size: 11px;
  background: grey;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }

.posttop {
  display: block;
  margin-bottom: 1em;
  }

.postright {
  width: 610px;
  float: right;
  }

.postright img {
  max-width: 610px;
  }

.topic textarea {
  width: 740px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  border: solid 1px silver;
  }

.topic form {
  margin-top: 15px;
  }


/* User */

.userleft {
  width: 115px;
  height: 115px;
  margin: 0 1em 1em 0;
  float: left;
  text-align: center;
  }

.userleft .avatar {
  max-width: 115px;
  max-height: 115px;
  }

.userright {
  width: 610px;
  float: right;
  }

.profile-link {
  color: white;
  text-decoration: underline;
  }

.yellow {
  color: black;
  background: yellow;
  font-size: smaller;
  padding: 3px;
  font-weight: bold;
  }

#avatar-upload {
  position: relative;
  height: 115px;
  width: 100%;
  margin-bottom: 1em;
  }

#avatar-upload img {
  position: absolute;
  left: 0;
  top: 0;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  }

#avatar-upload #avatar-fields {
  position: absolute;
  top: 0;
  left: 125px;
  }

#avatar-upload input {
  font-size: 14px;
  padding: 0;
  width: 225px;
  }

input#user_avatar { border: none; }

#optional-fields {
  background: silver;
  padding: 10px;
  width: 350px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  margin-bottom: 1em;
  }

#optional-fields input, #optional-fields textarea {
  width: 325px;
  }

#optional-fields textarea { height: 100px; }

#dummy-field { display: none; }

.login-button {
  font-weight: bold;
  margin-right: 10px;
  display: block;
  float: left;
  line-height: 22px;
  border: solid 1px silver;
  padding: 0 10px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  }

.facebook-button img {
  padding-top: 1px;
  }


/* Products */

.product, .product-image, .product-info {
  float: left;
  }

.product {
  margin-bottom: 40px;
  }

.product-image {
  width: 240px;
  min-height: 180px;
  }

.product-info {
  width: 500px;
  margin-left: 20px;
  }


/* Contact */

.home-contact-body h1 {
  text-align: center;
  }

.home-contact-body h4 {
  margin-top: 2em;
  clear: left;
  }

.contact {
  float: left;
  margin-right: 25px;
  margin-top: 1em;
  }

.press-images {
  list-style-type: none;
  padding: 0;
  }

.press-images li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 1;
  }

.bio p {
  text-indent: 50px;
  }

.oregon p {
  margin: 0;
  }

/* Store */

.item {
  float: left;
  width: 240px;
  margin: 0 20px 30px 0;
  }

.item h4 {
  margin: 8px 0;
  text-align: center;
  }

.item-image {
  width: 240px;
  }

.item-button {
  text-align: center;
  }

.featured-product {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #DDD;
  }


/* Item Detail */

.item-detail-image-column {
  float: left;
  width: 300px;
  position: relative;
  text-align: center;
  }

.item-detail-image-main {
  width: 100%;
  }

.item-detail-images {
  margin-left: 0;
  padding: 0;
  list-style-type: none;
  }

.item-detail-images li {
  float: left;
  margin-right: 7px;
  }

.item-detail-images img {
  width: 95px;
  }

.item-detail-image-medium {
  display: none;
  position: relative;
  }

.item-detail-image-medium.item-detail-image-main {
  display: block;
  }

.item-image-zoom {
  background: #666;
  background: rgba(1, 1, 1, .5);
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }

.item-detail-info-column {
  margin-left: 330px;
  }

.topspin-widget-buy-button {
  margin: 1em 0 2em;
  }

a.ts_buttonlink {
  display: inline-block;
  padding: 5px 8px;
  margin-bottom: 5px;
  font-size: 12px;
  }

a.ts_buttonlink:hover {
  color: white;
  }

.item-detail-tracks .track-time {
  color: #999;
  }


/* Pagination */

.pagination {
  margin: 1em auto 0;
  text-align: center;
  }

.pagination .previous_page,
.pagination .current,
.pagination a,
.pagination .next_page {
  border: solid 1px silver;
  padding: 6px 10px;
  }

.pagination .previous_page:hover,
.pagination a:hover,
.pagination .next_page:hover,
.pagination .current {
  background-color: #bd8b00;
  border-color: #bd8b00;
  color: white;
  }

.pagination .previous_page,
.pagination .next_page {
  font-weight: bold;
  }

.pagination .previous_page {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  }

.pagination .next_page {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  }

.pagination .previous_page.disabled,
.pagination .next_page.disabled {
  color: silver;
  }

.pagination .previous_page.disabled:hover,
.pagination .next_page.disabled:hover {
  background-color: white;
  border-color: silver;
  color: silver;
  cursor: default;
  }


/* Temp */

.home-stream_auth-body,
.home-vh3yT4zx-body {
  text-align: center;
  }

.home-stream_auth-body .button {
  margin: 0 auto;
  }


/* Errors */

.fieldWithErrors {
  display: inline;
  }

#errorExplanation {
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
  }

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  margin: 0;
  background-color: #c00;
  color: #fff;
  }

#errorExplanation p {
  color: #333;
  padding: 0 15px;
  }

#errorExplanation ul {
  margin: 1em 24px;
  }

#errorExplanation ul li {
  list-style: disc;
  }


/* TinyMCE */

body.mceContentBody {
  background: white;
  padding: 0 15px;
  }


/* Utility */

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

:first-child+html .group {
  min-height: 1px;
  }
