$pagination-padding: 6px;

.post-list__topic {
  margin-bottom: $padding-medium;
}

.post-list__title {
  font-size: 2em; /* same as h1 */
  margin-bottom: 0;
}

.topic-title {
  margin-bottom: $padding-large;
}

.topic-post-layout {
  display: grid;
  grid-template-columns: $avatar-width auto;
  grid-gap: $padding-small;
  padding-bottom: $padding-medium;
  margin-bottom: $padding-medium;
  border-bottom: solid 1px $border-color-light;

  @media screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: $avatar-width-mobile auto;
    grid-gap: $padding-small;
  }
}

.pagination {
  margin-bottom: $padding-medium;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .previous_page,
  > a,
  .current {
    margin-right: $pagination-padding;
    margin-bottom: $pagination-padding;
  }

  .gap {
    margin-right: $pagination-padding;
  }

  > a,
  .current {
    padding: 14px;
    border: solid 1px $text-color;
  }

  .current {
    background: $background-color;
    color: $text-color;
    font-weight: bold;
  }
}

.post-actions {
  overflow: hidden; // clearfix
  margin-top: $padding-small;
}

.post-actions__button {
  float: left;
  // for when hint wraps below
  margin-bottom: 1em;
}

.post-actions__hint {
  float: right;
}
