$show-padding: 10px;

// Shows Index

.shows-table + h2 {
  margin-top: 40px;
}

.shows-table__show {
  padding-top: $show-padding;
  padding-bottom: $show-padding;
  border-bottom: solid 1px;
}

.shows-table__show__info {
  display: flex;

  @media screen and (max-width: $stacking-breakpoint) {
    flex-direction: column;
  }
}

.shows-table__show__info__cell {
  padding-right: $show-padding;

  &:last-child {
    padding-right: 0;
  }
}

.shows-table__show__info__cell--venue {
  flex: auto 1 0;
}

.shows-table__show__notes {
  margin-top: 6px;
  font-style: italic;
}

// Single Show

.show-title {
  margin-bottom: $show-padding;
}

.show-post {
  background-color: $text-color;
  color: $background-color;
  padding: $padding-small;
  margin-bottom: $show-padding;

  a {
    color: $background-color;
  }
}
