<ul class="subnav show-nav">
  <li><%= link_to_unless_current "Upcoming Shows", shows_path %></li>
  <li class="last"><%= link_to_unless_current "Show Archive", archive_index_path %></li>

  <li class="search">
    <%= label_tag 'query', 'Search' %>
    <%= text_field_tag 'query', params[:query], :class => 'live-search', 'data-action' => url_for(:controller => 'shows', :action => 'search'), 'data-target' => '#shows', :placeholder => 'Venue or City' %>
  </li>
</ul>
