$("#setlist_link").html("<%= escape_javascript(link_to "cancel", url_for(:action => "cancel_setlist", :id => @show.id), :remote => true) %>");
$("#tracks").html("<%= escape_javascript(render :partial => 'edit_setlist') %>");

$(".edit_link").toggle(
	function(){
		var i = $(this).attr("id");
		$("#show_setlistings_attributes_" + i + "_song_id").hide();
		$("#show_setlistings_attributes_" + i + "_song_attributes_title").show();
		$(this).html("<a href='#' class='select-track-link' id='" + i + "' onclick='return false'>select</a>"); },
	function(){
		var i = $(this).attr("id");
		$("#show_setlistings_attributes_" + i + "_song_attributes_title").hide();
		$("#show_setlistings_attributes_" + i + "_song_id").show();
		$(this).html("<a href='#' class='write-in-link' id='" + i + "' onclick='return false'>write in</a>"); }
	);

$("#setlistings").sortable({
	handle: '.handle',
	stop: function() {
    $(this).find(".setlisting").each(function(i) {
    		$(this).find("input[id$='_position']").attr("value",i+1);
        if ($(this).nextUntil(".setlisting").hasClass("encore")) {
        	$("#show_encore").attr("value",i+1);
        }
    });
	}
});