$j("#setlist_link").html("<%= escape_javascript(link_to_remote "cancel", :url => { :action => "cancel_setlist", :id => @show.id }) %>");
$j("#tracks").html("<%= escape_javascript(render :partial => 'edit_setlist') %>");

$j(".edit_link").toggle(
	function(){
		var i = $j(this).attr("id");
		$j("#show_setlistings_attributes_" + i + "_song_id").hide();
		$j("#show_setlistings_attributes_" + i + "_song_attributes_title").show();
		$j(this).html("<a href='#' class='select-track-link' id='" + i + "' onclick='return false'>select</a>"); },
	function(){
		var i = $j(this).attr("id");
		$j("#show_setlistings_attributes_" + i + "_song_attributes_title").hide();
		$j("#show_setlistings_attributes_" + i + "_song_id").show();
		$j(this).html("<a href='#' class='write-in-link' id='" + i + "' onclick='return false'>write in</a>"); }
	);

$j("#setlistings").sortable({
	handle: '.handle',
	stop: function() {
    $j(this).find(".setlisting").each(function(i) {
    		$j(this).find("input[id$='_position']").attr("value",i+1);
        if ($j(this).prev("#encore").length) {
        	$j("#show_encore").attr("value",i);
        }
    });
	}
});