<% title "Shows" %>

<div id="shows-container">
  <%= render :partial => 'show_nav' %>

  <div id="shows">

      <div class="show">
        <div class="right">
          We're experiencing some technical difficulties with our shows page right now. BRB! LOL!
        </div>
      </div>

  </div><!-- end .shows -->

</div><!-- end .show-container -->