<% title "Shows" %>

<%- content_for :subnav do -%>
  <%= render partial: "show_nav" %>
<%- end -%>

<div class="shows">
  <% @shows_months.sort.each do |month, shows| %>
    <h2><%= month.strftime("%B %Y") %></h2>

    <%= render partial: "shows_table", locals: { shows: shows } %>
  <% end %>
</div>
