<% if shirt['attributes']['Color'] %>
  <p>
    <strong>Color:</strong>
    <%= shirt['attributes']['Color'][0] %>
  </p>
<% end %>
<% if shirt['attributes']['Gender'] %>
  <p>
    <strong>Gender:</strong>
    <%= shirt['attributes']['Gender'][0] %>
  </p>
<% end %>