<strong>Songs</strong>
<ol class="item-detail-tracks">
	<% for track in tracks do %>
		<li><%= track['name'] %> <span class="track-time"><%= convert_seconds_to_time(track['duration']) %></span></li>
	<% end %>
</ol>