<% title "Edit Product" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "View Product", @product %> |
  <%= link_to 'Delete', @product, :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to "View All", products_path %>
</p>
