<% title @title %>

<%= render :partial => 'store_nav' %>

<% if @show_feature %>
	<div class="featured-product group">
		<%= render :partial => 'product_detail', :object => @feature %>
	</div>
<% end %>

<div id="items">
	<%= render :partial => 'product', :collection => @products %>
</div>
